---
layout: default
---
<section class="tagged-posts">

    <div class="section-title">
		<h2 id="{{ category[0] | replace: " ","-" }}">Tag: <span class="text-capitalize">{{ page.tag }}</span></h2>
    </div>

    <div class="row listrecent">
    {% assign normalizedPageTag = page.tag | strip | replace: ' ', '-' | downcase %}
		{% for post in site.posts %}
      {% assign postMatches = false %}
      {% for tag in post.tags %}
        {% assign normalizedTag = tag | strip | replace: ' ', '-' | downcase %}
        {% if normalizedTag == normalizedPageTag %}
          {% assign postMatches = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if postMatches %}
        {% include postbox.html %}
      {% endif %}
    {% endfor %}
    </div>

</section>
<hr>
